/*===============================================================*/
/* tabs style */

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text;
    background-color: #2a4477;
    color:white;
}

/*===============================================================*/

.order-now-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #12c083), color-stop(1, #098c60));
    background:-moz-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-webkit-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-o-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-ms-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:linear-gradient(to bottom, #12c083 5%, #098c60 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#12c083', endColorstr='#098c60',GradientType=0);
    background-color:#12c083;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:15px;
    border:1px solid #268a16;
    display:inline-block;
    cursor:pointer;
    color:#04290e;
    font-family:Arial;
    font-weight:bold;
    padding:8px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;
}
.order-now-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #098c60), color-stop(1, #12c083));
    background:-moz-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-webkit-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-o-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-ms-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:linear-gradient(to bottom, #098c60 5%, #12c083 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#098c60', endColorstr='#12c083',GradientType=0);
    background-color:#098c60;
}
.order-now-button:active {
    position:relative;
    top:1px;
}

/*===============================================================*/

.start-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #12c083), color-stop(1, #098c60));
    background:-moz-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-webkit-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-o-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-ms-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:linear-gradient(to bottom, #12c083 5%, #098c60 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#12c083', endColorstr='#098c60',GradientType=0);
    background-color:#12c083;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #268a16;
    display:inline-block;
    cursor:pointer;
    color:#04290e;
    font-family:Arial;
    font-weight:bold;
    padding:18px 76px;
    text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;
}
.start-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #098c60), color-stop(1, #12c083));
    background:-moz-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-webkit-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-o-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-ms-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:linear-gradient(to bottom, #098c60 5%, #12c083 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#098c60', endColorstr='#12c083',GradientType=0);
    background-color:#098c60;
}
.start-button:active {
    position:relative;
    top:1px;
}

/*===============================================================*/

div.buttons-container
{
    display:block;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    text-align: center;
}

.pre-next-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #12c083), color-stop(1, #098c60));
    background:-moz-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-webkit-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-o-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-ms-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:linear-gradient(to bottom, #12c083 5%, #098c60 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#12c083', endColorstr='#098c60',GradientType=0);
    background-color:#12c083;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #268a16;
    display:inline-block;
    cursor:pointer;
    color:#04290e;
    font-family:Arial;
    font-size:27px;
    font-weight:bold;
    padding:10px 29px;
    text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;
}
.pre-next-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #098c60), color-stop(1, #12c083));
    background:-moz-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-webkit-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-o-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-ms-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:linear-gradient(to bottom, #098c60 5%, #12c083 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#098c60', endColorstr='#12c083',GradientType=0);
    background-color:#098c60;
}
.pre-next-button:active {
    position:relative;
    top:1px;
}

/*===============================================================*/

.white_container>div{
    border:1px solid #12c083;
    padding:10px;
    margin:2px;
}

.parts-item{
    font-size:1.4em;
    font-weight: bold;
    color: #2a4477;
    text-align: center;
}

.order-parts{
    border-left : 4px solid #12c083;
}

.window-door-item{
    font-size:1.1em;
    font-weight: bold;
    color: #2a4477;
    text-align: center;
}

.price-item{
    font-size:1.4em;
    font-weight: bold;
    color: #2a4477;
}

#custom-product{
    padding-top: 20px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.5em 9.2em 0.3em;
    font-size: 18px;
    font-family: open sans;
    position: relative;
    display: none;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
    color: #000;
    zoom: 1;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

#dialog-zipcode{
    display: block;
    z-index: 1002;
    background-color: white;
    width:700px;
}

.ui-dialog{
    position: fixed;

    left: 0 !important;
    right: 0 !important;

    padding: 15px;
    border: 1px solid #d3dbe2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    max-width: 700px;
    top: 200px !important;

    margin: 0 auto;
    width: calc(100% - 20px) !important;
}

#dialog-zipcode #zip{
    dispaly:block;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    border: 3px solid #12c083;
    padding: 15px;
    font-size: 2em;
}

.popup-centered{
    text-align: center;
    padding:5px 20px;
    margin-bottom:20px;
}

.submitZipcode-button-class .ui-button-text{
    font-weight: bold;
    font-size:1.3em;
}

.zip-container{
    margin:10px;
    padding:20px;
    font-weight:bold;
}

.change-zip-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}
.change-zip-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
.change-zip-button:active {
    position:relative;
    top:1px;
}

.new-section{
    margin-top: 20px;
}

.row.stylename.pics {
    text-align: center;
}

.row.stylename.pics:hover {
    cursor:pointer;
}

.row.stylename.pics p6.selected{
    font-weight: bold;
}

/*************************************/

.color.block {
    width: 60px;
    height: 40px;
    border: 1px solid #aaaaa6;
    background: #eee;
    display: flex;
    border-radius: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.color.block:hover {
    cursor: pointer;
    background: #fff;
}
.color.block:hover .definition {
    color: #599fcf;
}
.color.block.selected {
    background: #515151;
}
.color.block.selected .definition {
    color: #fff;
}
.color.bar {
    width: 45px;
    height: 15px;
}
.blue.color.bar {
    background: blue;
}
.clay.color.bar {
    background: #835A36;
}
.pgray.color.bar {
    background: #808080;
}
.white.color.bar {
    background: #eaeae8;
    border: 1px solid #aaaaa6;
}
.black .color.bar{
    background: #232323;
}
.burgundy.color.bar {
    background: #800020;
}
.qgray.color.bar {
    background: #A9A9A9;
}
.sandstone.color.bar {
    background: #78716C;
}
.white.color.bar {
    background: white;
}
.tan.color.bar {
    background: #ccac79;
}
.green.color.bar {
    background: green;
}
.red.color.bar {
    background: red;
}
.black.color.bar {
    background: black;
}
.brown.color.bar {
    background: brown;
}
.color.definition {
    color: #3383bb;
    font-size: 0.75em;
    font-family: Lato;
}

/**********************************************/
/************ SIZE ************************/

.sub-item {
    padding : 20px 10px;
    margin : 5px;
}

.ui-slider {
    width:70%;
    margin-top:20px;
    background-color:#e6e6e6;
}

.ui-slider-handle.ui-state-default.ui-corner-all{
    width: 1.5em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    background-image:none;
    background-color: #12c083;
}

.green-number{
    color:#12c083;
    font-size:1.4em;
    font-weight:bold;
}

.green-number.dimension-value{
    padding-left:5px;
}

.sub-item-name{
    font-weight:bold;
    color:#164b99;
}

.ui-button .ui-button-text {
    display: block;
    line-height: 1.4;
}

.ui-button-text-only .ui-button-text {
    padding: .4em .3em !important;
    font-family: Montserrat;
}

.checkboxradio-container{
    margin-top:20px;
}

label#certifiedcheckbox.ui-checkboxradio-checked.ui-corner-all.ui-button.ui-widget{
    background:#12c083;
}

label#gaugecheckbox.ui-checkboxradio-checked.ui-corner-all.ui-button.ui-widget{
    background:#12c083;
}
/**********************************************/
/*************** WALLS ************************/
fieldset#side-wall-style-fs,fieldset#side-wall-orientation-fs,
fieldset#end-wall-style-front-fs, fieldset#end-wall-style-back-fs,
fieldset#end-wall-orientation-fs{
    border:none;
}
/* all radios on this page */
fieldset label.ui-button.ui-widget.ui-checkboxradio-radio-label.ui-checkboxradio-label.ui-controlgroup-item.ui-checkboxradio-checked.ui-state-active{
    background:#12c083;
}

.center-vertical{
    padding: 15px 0;
}










