/*===============================================================*/
/* tabs style */

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text;
    background-color: #2a4477;
    color:white;
}

/*===============================================================*/

.start-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #12c083), color-stop(1, #098c60));
    background:-moz-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-webkit-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-o-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-ms-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:linear-gradient(to bottom, #12c083 5%, #098c60 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#12c083', endColorstr='#098c60',GradientType=0);
    background-color:#12c083;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #268a16;
    display:inline-block;
    cursor:pointer;
    color:#04290e;
    font-family:Arial;
    font-weight:bold;
    padding:18px 76px;
    text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;
}
.start-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #098c60), color-stop(1, #12c083));
    background:-moz-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-webkit-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-o-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-ms-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:linear-gradient(to bottom, #098c60 5%, #12c083 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#098c60', endColorstr='#12c083',GradientType=0);
    background-color:#098c60;
}
.start-button:active {
    position:relative;
    top:1px;
}

/*===============================================================*/

div.buttons-container
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    text-align: center;
}

.pre-next-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #12c083), color-stop(1, #098c60));
    background:-moz-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-webkit-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-o-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:-ms-linear-gradient(top, #12c083 5%, #098c60 100%);
    background:linear-gradient(to bottom, #12c083 5%, #098c60 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#12c083', endColorstr='#098c60',GradientType=0);
    background-color:#12c083;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #268a16;
    display:inline-block;
    cursor:pointer;
    color:#04290e;
    font-family:Arial;
    font-size:27px;
    font-weight:bold;
    padding:10px 29px;
    text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;
}
.pre-next-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #098c60), color-stop(1, #12c083));
    background:-moz-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-webkit-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-o-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:-ms-linear-gradient(top, #098c60 5%, #12c083 100%);
    background:linear-gradient(to bottom, #098c60 5%, #12c083 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#098c60', endColorstr='#12c083',GradientType=0);
    background-color:#098c60;
}
.pre-next-button:active {
    position:relative;
    top:1px;
}

/*===============================================================*/